<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
        <p>
            I have received the B.S. and M.S. degrees in computer science and information engineering from Chung Hua University, Hsinchu, Taiwan, in
            2015 and 2017, respectively. Now, I is currently working toward the Doctoral degree in computer science at the National Chiao Tung University, Hsinchu, Taiwan.
            My research interests include image processing, digital signal processing, biomedical signal processing, machine learning, and deep learning.
        </p>
    </article>
</section>
