<section class="thirteen columns">
    <h1> Award </h1>
    <article>
    <header>
        <h1> 第十八屆台灣管理學會論文大賞：AI應用論文競賽 博士特優論文獎 </h1>
        <h1> Excellent Paper Award in the 20th International Conference on Intelligent Information Hiding and Multimedia Signal Processing</h1>
        <h1> 106年度 斐陶斐榮譽會員 </h1>
    </article>
    <h1>Experience</h1>
    <article>
    <header>
            <h1>Staff Engineer</h1>
            <span><address>Novatek</address><time>2024.11-current</time></span>
        </header>
    </article>   
    <article>
    <header>
            <h1>Post Doc</h1>
            <span><address>National Yang Ming Chiao Tung University</address><time>2024.8-2024.10</time></span>
        </header>
        <p>
            Department of Computer Science
        </p>
    </article> 
    <article>
    <header>
            <h1>PhD</h1>
            <span><address>National Yang Ming Chiao Tung University</address><time>2017.2-2024.7</time></span>
        </header>
        <p>
            Department of Computer Science
        </p>
    </article>  
    <article>
        <header>
            <h1>Master</h1>
            <span><address>Chung Hua University</address><time>2015.8-2017.1</time></span>
        </header>
        <p>
            Computer Science and Information Engineering
        </p>
    </article> 
    <article>
        <header>
            <h1>Bachelor</h1>
            <span><address>Chung Hua University</address><time>2011.8-2015.7</time></span>
        </header>
        <p>
            Computer Science and Information Engineering
        </p>
    </article>
</section>



