<section class="thirteen columns">
    <h1> Award </h1>
    <article>
    <header>
        <h1> IPPR (中華民國影像處理與圖形識別協會) 2019 博士論文優等獎 </h1>
    </article>
    <h1>Experience</h1>
    <article>
    <header>
            <h1>Post Doc</h1>
            <span><address>National Chiao Tung University</address><time>2019.1-now</time></span>
        </header>
        <p>
            Department of Computer Science
        </p>
    </article> 
    <article>
    <header>
            <h1>PhD</h1>
            <span><address>National Chiao Tung University</address><time>2012-2019.1</time></span>
        </header>
        <p>
            Department of Computer Science
        </p>
    </article>  
    <article>
        <header>
            <h1>Mandatory Military service</h1>
            <span><address>269 Regiment</address><time>2010-2011</time></span>
        </header>
        <p>
            Armored military vehicles driver
        </p>
    </article> 
    <article>
        <header>
            <h1>Graduate</h1>
            <span><address>National Yang-Ming University</address><time>2008-2010</time></span>
        </header>
        <p>
            Institute of Neuroscience
        </p>
    </article>    
    <article>
        <header>
            <h1>Undergraduate</h1>
            <span><address>Chung Shan Medical University</address><time>2004-2008</time></span>
        </header>
        <p>
            Department of Psychology
        </p>
    </article>
</section>
