<section class="thirteen columns">
    <h1>Papers</h1>
    <article>
        <header>
            <h1><a href="">Exploiting Spatial Relation for Reducing Distortion in Style Transfer</a></h1>
            <span>Jia-Ren Chang*, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>Workshop on Applications of Computer Vision (WACV) 2021</em>
        </p>
        <p><a href="">
            <em><font color="#061b38">[code repository]</font></em>
        </a></p>
    </article>  

    <article>
        <header>
            <h1><a href="">Attention-Aware Feature Aggregation for Real-time Stereo Matching on Edge Devices</a></h1>
            <span>Jia-Ren Chang*, Pei-Chun Chang, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>Asian Conference on Computer Vision (ACCV) 2020</em>
        </p>
        <p><a href="https://github.com/JiaRenChang/RealtimeStereo">
            <em><font color="#061b38">[code repository]</font></em>
        </a></p>
    </article>  
    
    <article>
        <header>
            <h1><a href="">Deep Neural Network with Attention Mechanism for Classification of Motor Imagery EEG</a></h1>
            <span>Yen-Cheng Huang, Jia-Ren Chang*, Li-Fen Chen, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>2019 9th International IEEE/EMBS Conference on Neural Engineering (NER)</em>
        </p>
        <p><a href="">
            <em><font color="#061b38">[code repository]</font></em>
        </a></p>
    </article>    
    
    <article>
        <header>
            <h1><a href="https://arxiv.org/pdf/1803.08669.pdf">Pyramid Stereo Matching Network</a></h1>
            <span>Jia-Ren Chang*, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>Conference on Computer Vision and Pattern Recognition (CVPR) 2018</em>
        </p>
        <p><a href="https://github.com/JiaRenChang/PSMNet">
            <em><font color="#061b38">[code repository]</font></em>
        </a></p>
    </article>
    
    <article>
        <header>
            <h1><a href="">Multivariate Pattern Analysis of fMRI Data using Deep Neural Network</a></h1>
            <span>Yi-Cheng Wang, Jia-Ren Chang*, Chia-Lin Chen, Ching-Ju Yang, Wei-Chi Li, Jen-Chuen Hsieh, Li-Fen Chen, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>27th Annual Meeting International Society for Magnetic Resonance in Medicine (ISMRM), Paris, France, 2018</em>
        </p>
    </article>
    
    
    <article>
        <header>
            <h1><a href="https://arxiv.org/pdf/1709.10282.pdf">Deep Competitive Pathway Networks</a></h1>
            <span>Jia-Ren Chang*, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>Asian Conference on Machine Learning (ACML) 2017</em>
        </p>
        <p><a href="https://github.com/JiaRenChang/CoPaNet">
            <em><font color="#061b38">[code repository]</font></em>
        </a></p>
    </article>
    
    <article>
        <header>
            <h1><a href="http://ieeexplore.ieee.org/abstract/document/8266572/">Neuroscience-inspired recurrent network for object recognition</a></h1>
            <span>Jia-Ren Chang*, Po-Chih Kuo, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>International Symposium on Intelligent Signal Processing and Communication Systems (ISPACS) 2017</em>
        </p>
    </article>
    
    <article>
        <header>
            <h1><a href="https://www.dropbox.com/s/yb03ej5xte8d9gj/ICMLworkshop2016.pdf">Batch-normalized maxout network in network</a></h1>
            <span>Jia-Ren Chang*, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>ICML visualization workshop 2016</em>
        </p>
        <p><a href="https://github.com/JiaRenChang/Batch_Normalized_Maxout_NIN">
            <em><font color="#061b38">[code repository]</font></em>
        </a></p>
    </article> 
    <article>
        <header>
            <h1><a href="https://www.ncbi.nlm.nih.gov/pubmed/25026532">Inefficiency of post-error adjustment in impulsive violent offenders</a></h1>
            <span>Chiao-Yun Chen, Neil G Muggleton, Jia-Ren Chang*</span>
        </header>
        <p>
            <em>NeuroReport, 5(13), 1024-1029, 2014</em>
        </p>
    </article>
</section>
