<section class="thirteen columns">
    <h1>Papers</h1>
    <article>
        <header>
            <h1><a href="">Decoding neural representations of rhythmic sounds from magnetoencephalography</a></h1>
            <span>Pei-Chun Chang*, Jia-Ren Chang, Po-Yu Chen, Li-Kai Cheng, Jen-Chuen Hsieh, Hsin-Yen Yu, Li-Fen Chen, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>2021 IEEE International Conference on Acoustics, Speech, and Signal Processing (ICASSP)</em>
        </p>
    
    </article>
    <article>
        <header>
            <h1><a href="">Attention-Aware Feature Aggregation for Real-time Stereo Matching on Edge Devices</a></h1>
            <span>Jia-Ren Chang*, Pei-Chun Chang, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>Asian Conference on Computer Vision (ACCV) 2020</em>
        </p>
        <p><a href="https://github.com/PeiChunChang/RealtimeStereo">
            <em><font color="#061b38">[code repository]</font></em>
        </a></p>
    </article>
</section>
