<section class="thirteen columns">
    <h1>Papers</h1>
    <article>
        <header>
            <h1><a href="">Facial Image Reconstruction from Functional Magnetic Resonance Imaging via GAN Inversion with Improved Attribute Consistency</a></h1>
            <span> Pei-Chun Chang*, Yan-Yu Tien, Chia-Lin Chen, Li-Fen Chen, Yong-Sheng Chen, and Hui-Ling Chan</span>
        </header>
        <p>
            <em>International Journal of Computer Assisted Radiology and Surgery (IJCARS), 2022</em>
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://link.springer.com/article/10.1007/s11548-022-02570-x">Toward automated segmentation for acute ischemic stroke using non-contrast computed tomography</a></h1>
            <span>Shih-Yen Lin, Pi-Ling Chiang, Peng-Wen Chen, Li-Hsin Cheng, Meng-Hsiang Chen, Pei-Chun Chang*, Wei-Che Lin, and Yong-Sheng Chen</span>
        </header>
        <p>
            <em>International Journal of Computer Assisted Radiology and Surgery (IJCARS), 2022</em>
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://dl.acm.org/doi/abs/10.1145/3460426.3463619">MS-SincResNet: Joint Learning of 1D and 2D Kernels Using Multi-scale SincNet and ResNet for Music Genre Classification</a></h1>
            <span>Pei-Chun Chang*, Yong-Sheng Chen, and Chang-Hsing Lee</span>
        </header>
        <p>
            <em>2021 International Conference on Multimedia Retrieval (ICMR'21)</em>
        </p>
        <p><a href="https://github.com/PeiChunChang/MS-SincResNet">
            <em><font color="#061b38">[code repository]</font></em>
        </a></p>
    </article>
    <article>
        <header>
            <h1><a href="https://ieeexplore.ieee.org/document/9414178">Decoding neural representations of rhythmic sounds from magnetoencephalography</a></h1>
            <span>Pei-Chun Chang*, Jia-Ren Chang, Po-Yu Chen, Li-Kai Cheng, Jen-Chuen Hsieh, Hsin-Yen Yu, Li-Fen Chen, and Yong-Sheng Chen</span>
        </header>
        <p>
            <em>2021 IEEE International Conference on Acoustics, Speech, and Signal Processing (ICASSP'21)</em>
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://openaccess.thecvf.com/content/ACCV2020/papers/Chang_Attention-Aware_Feature_Aggregation_for_Real-time_Stereo_Matching_on_Edge_Devices_ACCV_2020_paper.pdf">Attention-Aware Feature Aggregation for Real-time Stereo Matching on Edge Devices</a></h1>
            <span>Jia-Ren Chang, Pei-Chun Chang*, and Yong-Sheng Chen</span>
        </header>
        <p>
            <em>2020 Asian Conference on Computer Vision (ACCV'20)</em>
        </p>
        <p><a href="https://github.com/PeiChunChang/RealtimeStereo">
            <em><font color="#061b38">[code repository]</font></em>
        </a></p>
    </article>
    <article>
        <header>
            <h1><a href="https://ieeexplore.ieee.org/abstract/document/8463262">Illumination Robust Face Recognition Using Spatial Expansion Local Histogram Equalization and Locally Linear Regression Classification</a></h1>
            <span>Pei-Chun Chang*, Yong-Sheng Chen, Chang-Hsing Lee, Cheng-Chang Lien, and Chin-Chuan Han</span>
        </header>
        <p>
            <em>2018 3rd International Conference on Computer and Communication Systems (ICCCS)</em>
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8356630">Local Wavelet Acoustic Pattern: A Novel Time–Frequency Descriptor for Birdsong Recognition</a></h1>
            <span>Sheng-Bin Hsu, Chang-Hsing Lee, Pei-Chun Chang*, Chin-Chuan Han, and Kuo-Chin Fan</span>
        </header>
        <p>
            <em>IEEE Transactions on Multimedia (Volume: 20, Issue: 12, Dec. 2018)</em>
        </p>
    </article>
</section>
