<section class="thirteen columns">
    <h1>Progressing Project</h1>
    <article>
        <header>
            <h1>Computer Vision</h1>
        </header>
        <p>
           <em>Real-time stereo matching</em>
        </p>
        <p>
           <em>Optical flow estimation</em>
        </p>
        <p>
           <em>Efficient network architecture</em>
        </p>
        <header>
            <h1>Cognitive Neuroscience</h1>
        </header>
        <p>
           <em>MVPA analysis using CNN</em>
        </p>
        <p>
           <em>Image reconsturction from fMRI</em>
        </p>
    </article>
</section>
