<section class="thirteen columns">
    <h1>Project</h1>
    <article>
        <header>
            <h1>Multimedia Information Retrieval</h1>
        </header>
        <p>
           <em>Music gerne/emotion classification</em>
        </p>
        <p>
           <em>Birdsong recognition</em>
        </p>
        <p>
           <em>Face recognition</em>
        </p>
        <br>
        <header>
            <h1>Biomedical Signal Processing</h1>
        </header>
        <p>
           <em>Perceptual content reconstruction using brain signals</em>
        </p>
        <p>
           <em>Stroke segmentation</em>
        </p>
    </article>
</section>
